<<<<<<< HEAD
.blog-container{
    width: 100%;
    position: relative;
    z-index: 40;
}

.blog-container::after{
    content: "";
    background-color: #74061A;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    z-index: -1;
    
    
    

}
.blog-container::before{
    content: "";
    background-color: #74061A;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 800px;
    z-index: -1;

}
=======
.blog-container {
  width: 100%;
  position: relative;
  z-index: 40;
}

.blog-container::after {
  content: "";
  background-color: #74061a;
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.blog-container::before {
  content: "";
  background-color: #74061a;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 800px;
  z-index: -1;
}
>>>>>>> f4c4003370f950e4919b2cea2deb289fdd4e6e61
