.service-card{
    position: relative;

    width: 400px;
    z-index: 5;
    transform: scale(.8);
    
}

.service-card:after{
    content: "";
    height: 98%;
    width: 100%;
    margin-top: 2px;
    top: 0;
    right: 0;
    position: absolute;
  
    transition: .5s;
    z-index: -1;
    border-radius: 8px;
    
    opacity: .5;

    background-color: #3a7d73;
}
.service-card:hover{
 
    
}
.service-card:hover::after{
    transform: rotate(10deg);
 
}
.service-card-wraper{
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background: #005C53;
}